<div id="demo" class="section">
  <div class="container">
    <h3 class="section-heading">Live demo</h3>
    <p class="section-description">Try to copy/download each image below.</p>
    <div class="row">
      <div class="one-third column category">
        <img src="static/img/Lenna.png">
        <p class="value-description">I'm easy to copy</p>
      </div>
      <div class="one-third column category">
        <script id="sScript8" src="static/js/embed8.js"></script>
        <p class="value-description">I'm not so easy</p>
      </div>
      <div class="one-third column category">
        <script id="sScript9" src="static/js/embed9.js"></script>
        <p class="value-description">I'm hard - (hover over)</p>
      </div>
    </div>
    Like what you see? Join our <a href="#email-subscribe">mailing list</a> for an invite to our <strong>Beta launch</strong>, and updates on our progress.
  </div>
</div>
