<div id="email-subscribe" class="section">
  <div class="container">

    <div class="row" style="text-align: left;">
      <h3>We're looking for <strong>fearless early adopters</strong> to take a stand with us against digtal theft.</h3>

      <p>If you're up to it we'll send you <strong>an invite to our Beta as soon as it launches</strong>, and keep you up to date on everything we're working on.</p>
      <p>You'll also get to help guide our efforts, and show us how we can <strong>best serve you</strong>.</p>
      <br />
      <h3><strong>Let's do this.</strong></h3>
    </div>

    <div id="mc_embed_signup">
      <form action="//pixelprotection.us8.list-manage.com/subscribe/post?u=012c43c6babb39a1c8f950aab&amp;id=cfdbde9962" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" style="text-align: center;">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_012c43c6babb39a1c8f950aab_cfdbde9962" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"></div>
        </div>
      </form>
    </div>
  </div>
</div>
