<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">Stop digital theft and copyright infringement.</h4>
        <p class="value-description">Let users view your art while protecting your work.</p>
        <a class="button button-primary" href="#demo">Live Demo</a> <a class="button button-primary" href="#email-subscribe">Request an Invite</a>
      </div>
      <div class="one-half column phones">
        <img class="phone" src="static/img/iphone-mock.png">
        <img class="phone" src="static/img/iphone-mock.png">
      </div>
    </div>
  </div>
</div>