<div class="section">
  <div class="container">
    <h3 class="section-heading">Survey</h3>
    <p class="section-description">If you have time, please give input to help shape Pixel Protection.</p>
  </div>
  <div class="typeform-widget" data-url="https://jackspirou.typeform.com/to/vHvUni" data-text="Pixel Protection Research Survey" style="width:100%;height:600px;"></div>
  <script>
    (function() {
      var qs, js, q, s, d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = 'typef_orm',
        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
      if (!gi.call(d, id)) {
        js = ce.call(d, 'script');
        js.id = id;
        js.src = b + 'widget.js';
        q = gt.call(d, 'script')[0];
        q.parentNode.insertBefore(js, q)
      }
    })()
  </script>
</div>