<div id="facts" class="section values">
  <div class="container">
    <div class="row">
      <div class="one-third column value">
        <h2 class="value-multiplier">$42</h2>
        <h5 class="value-heading">Million Lost</h5>
        <p class="value-description">The Stock Artist Alliance calculated Getty Images loses $42 million anually due to online image theft.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">85%</h2>
        <h5 class="value-heading">Images Stolen</h5>
        <p class="value-description">"We believe that 85% of images online are stolen via copyright infringement.”
          <br />- PicScout CEO</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">2.5</h2>
        <h5 class="value-heading">Million Photos</h5>
        <p class="value-description">Photographers, artists, businesses, and amature shutter bugs upload 2.5 million images online - every day.</p>
      </div>
    </div>
  </div>
</div>